# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so

# Virtual environment
venv/

# Telethon session files
*.session
*.session-journal

# SQLite databases
*.db

#  Environment / secrets
.env

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Ruff cache
.ruff_cache/

# Mypy cache
.mypy_cache/

# Black cache (pytest-black)
.black/
